<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Neverwinter Nights Search.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7AE0695723F2887B0030F3D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AE0696D23F2887F0030F3D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AE0697823F2887F0030F3D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
